


<div class="col-md-3">
    <p><b>Name: </b><%= @restaurant.name %></p>
    <p><b>Description: </b><%= @restaurant.description %></p>
    <p><b>Price: </b><%= @restaurant.price %></p>
    <p>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
      <%= link_to 'Destroy', @restaurant, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', restaurants_path %>
    </p>
  </div>
